<!DOCTYPE html>
<html class="html" lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="section-login-header">
            <img class="rocket-img" src="../assets/Img/Rocket logo.png">
            <div class="login-flex-container">
                <h1 class="title">Mega Rocket Gym</h1>
                <h2 class="subtitle">"Take-off your potential</h2>
            </div>
    </section>
    </header>
    <main>
        <section class="section-sign-in-container">
            
            <div class="sign-in-flex-container">
                <h2 class="register-title">Register</h2>
                <div class="container-name-surname">
                    <div class="name-container">
                        <h3>Name</h3>
                        <input class="input-box" type="text" pattern="[A-Za-z]{3}">
                    </div>
                    <div>
                        <h3>Surname</h3>
                        <input class="input-box" type="text" pattern="[A-Za-z]{3}">
                    </div>
                </div>
                <div class="dni-birthday-container">
                    <div>
                        <h3>DNI</h3>
                        <input class="input-box" type="text">
                    </div>
                    <div>
                        <h3>Birthday</h3>
                        <input class="input-box-birthday" type="date">
                    </div>
                </div> 
                <div class="phone-direction-container">
                    <div>
                        <h3>Phone number</h3>
                        <input class="input-box" type="number">
                    </div>
                    <div>
                        <h3>Direction</h3>
                        <input class="input-box" type="text">
                    </div>
                </div>
                <div  class="location-pc-container">
                    <div>
                        <h3>Location</h3>
                        <input class="input-box" type="text">
                    </div>
                    <div>
                        <h3>Postal Code</h3>
                        <input class="input-box" type="text">
                    </div>
                </div>
                <div>
                    <div>
                        <h3>E-Mail</h3>
                        <input class="input-box" type="text">
                    </div>
                    <div>
                        <h3>Password</h3>
                        <input class="input-box" type="text">
                    </div>
                </div>
                <div>
                    <h3>Repeat Password</h3>
                    <input class="input-box" type="text">
                </div>
                <button class="sign-in-button">Continue</button>
            </div>
        </section>
    </main>
    <footer class="footer-login">
        <button class="contact-us-button">Contact Us</button>
        <p class="reserved-text">All rights reserved®</p>
        <div class="logo-container">
            <img class="facebook-logo" src="../assets/Img/Facebook LOGO.png">
            <img class="instagram-logo" src="../assets/Img/Instagram LOGO.png">
        </div>
    </footer>
</body>
</html>