.html {
    font-family: 'Roboto', sans-serif;
    background-color: #666;
}

.section-login-header {
    background-color: #49a37b;
    max-height: 100px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.rocket-img {
    width: 20%;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 1%;
}

.login-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 900;
    color: #131543;
    border-bottom: 2px #131441 solid; 
    margin-top: 40px;
}

.subtitle {
    font-size: 15px;
    font-weight: 0;
    color: #121234;
    margin-bottom: 20%;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#register-link-login {
    font-size: 15px;
    color: #fff;
    display: flex;
    align-self: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

#register-link {
    font-size: 15px;
    color: #fff;
    display: flex;
    align-self: center;
    margin-right: 20px;
}

.section-sign-in-container {
    background-color: #fff;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-flex-container {
    margin-top: 10%;
    background-color: #fdfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-title {
    font-size: 20px;
    margin-top: 40px;
}

.mail-container {
    margin-top: 20px;
    border-bottom: 1px #49a37b solid;
    display: flex;
    justify-content: space-between;
    width: 70%;
}


.mail-img {
    width: 10%;
    margin-bottom: 10px;
}

.mail-input {
    font-size: 13px;
    border: none;
    width: 100%;
}

.password-container {
    margin-top: 20px;
    border-bottom: 1px #49a37b solid;
    display: flex;
    width: 70%;
}

.password-img {
    width: 10%;
    margin-bottom: 10px;
}

.password-input {
    font-size: 20px;
    border: none;
    width: 100%;
}

.remember-me-container {
    width: 75%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.input-sign-in {
    color: #49a37b;
    margin-bottom: 28px;
}

.remember-me-text {
    font-size: 15px;
    margin-left: 10%;
}

.forget-password-container {
    font-size: 15px;
    margin-left: 25%;
}

.sign-in-button {
    background-color: #49a37b;
    color: #fff;
    font-size: 20px;
    margin-top: 100px;
    width: 70%;
    height: 8%;
    border: 1px;
    border-radius: 4px;
}

.footer-login {
    background-color: #49a37b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    display: flex;
    flex-direction: row;
}

.contact-us-button {
    background-color: #121234;
    color: #fff;
    font-size: 12px;
    height: 30px;
    margin-left: 20%;
    border-radius: 20px;
}

.reserved-text {
    color: #fff;
    font-size: 15px;
    margin-left: 30%;
}

.logos-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.facebook-logo {
    width: 25%;
    margin-left: 20%;
}

.instagram-logo {
    width: 20%;
}

.mail-container .error {
    font-size: 20px;
    color: #ff3860;
}

.mail-container.error {
    border-color: #ff3860;
}

.mail-container.success {
    border-color: #49a37b;
}

.password-container .error {
    font-size: 20px;
    color: #ff3860;
}

.password-container.error {
    border-color: #ff3860;
}

.password-container.success {
    border-color: #49a37b;
}

@media only screen and (min-width: 601px) {

.login-flex-container {
    width: 30%;
    margin-top: 2%;
}

.title {
    font-size: 22px;
}

.subtitle {
    font-size: 17px;
}

.contact-us-button {
    width: 150px;
    height: 30px;
}


.facebook-logo {
    width: 30%;
}

.instagram-logo {
    width: 20%;
    height: 15%;
    margin-top: 5%;
}

}

@media only screen and (min-width: 1025px) {

.section-login-header {
    display: flex;
    justify-content: space-between;
}

.rocket-img {
    width: 10%;
}

#register-link-login {
    font-size: 20px;
}

#register-link {
    font-size: 20px;
}

.section-sign-in-container {
    height: 1000px;
}

.login-flex-container {
    margin-top: 5%;
    margin-right: 10%;
    display: flex;
    align-self: center;
}

.title {
    font-size: 30px;
}

.subtitle {
    font-size: 20px;
}

.sign-in-flex-container {
    width: 40%;
    height: 70%;
}

.sign-in-title {
    font-size: 30px;
}

.mail-img {
    width: 10%;
}

.mail-input {
    font-size: 25px;
}

.password-img {
    width: 9%;
}

.password-input {
    font-size: 35px;
}

.remember-me-text {
    font-size: 30px;
}

.forget-password-container {
    font-size: 30px;
}

.footer-login {
    height: 116px;
}

.contact-us-button {
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.reserved-text {
    font-size: 25px;
    margin-right: 29%;
}

.facebook-logo {
    width: 40%;
}

.instagram-logo {
    margin-right: 3%;
    width: 30%;
}

}