
.section-login-header {
    display: flex;
    justify-content: space-between;
}

.login-flex-container {
    display: flex;
}

#login-link {
    color: #fff;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.section-sign-in-container {
    height: 1800px;
    flex-direction: column;
}

.sign-in-flex-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
}

.register-title {
    font-size: 20px;
}

.container-name-surname {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    font-size: 20px;
    width: 200px;
    height: 30px;
}

.dni-birthday-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box-dni {
    font-size: 20px;
    height: 30%;
    width: 200px;
}

.input-box-birthday {
    font-size: 20px;
    width: 200px;
    height: 30px;
}

.phone-direction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-pc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repeat-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-button {
    width: 50%;
    height: 60px;
    margin-top: 60px;
    margin-left: 25%;
}

.name-container .error {
    font-size: 15px;
    color: #ff3860;
}

.surname-container .error {
    font-size: 15px;
    color: #ff3860;
}

.dni-container .error {
    font-size: 15px;
    color: #ff3860;
}

.birthday-container .error {
    font-size: 15px;
    color: #ff3860;
}

.phone-number-container .error {
    font-size: 15px;
    color: #ff3860;
}

.direction-container .error {
    font-size: 15px;
    color: #ff3860;
}

.location-container .error {
    font-size: 15px;
    color: #ff3860;
}

.postal-code-container .error {
    font-size: 15px;
    color: #ff3860;
}

.email-container .error {
    font-size: 15px;
    color: #ff3860;
}

.password-container-two .error {
    font-size: 15px;
    color: #ff3860;
}

.repeat-password-container .error {
    font-size: 15px;
    color: #ff3860;
}

@media only screen and (min-width: 1025px) {

#login-link {
    font-size: 20px;
}

.section-sign-in-container {
    height: 1400px;
}

.sign-in-flex-container {
    height: 80%;
    width: 60%;
}

.register-title {
    font-size: 30px;
}

.container-name-surname {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.register-titles {
    font-size: 25px;
}

.input-box {
    width: 500px;
    height: 40px;
}

.dni-birthday-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.input-box-dni {
    width: 500px;
    height: 40px;
}

.input-box-birthday {
    width: 200px;
    height: 40px;
}

.phone-direction-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.location-pc-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.email-password-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.name-container .error {
    font-size: 18px;
    color: #ff3860;
}

.surname-container .error {
    font-size: 18px;
    color: #ff3860;
}

.dni-container .error {
    font-size: 18px;
    color: #ff3860;
}

.birthday-container .error {
    font-size: 18px;
    color: #ff3860;
}

.phone-number-container .error {
    font-size: 18px;
    color: #ff3860;
}

.direction-container .error {
    font-size: 18px;
    color: #ff3860;
}

.location-container .error {
    font-size: 18px;
    color: #ff3860;
}

.postal-code-container .error {
    font-size: 18px;
    color: #ff3860;
}

.email-container .error {
    font-size: 18px;
    color: #ff3860;
}

.password-container-two .error {
    font-size: 18px;
    color: #ff3860;
}

.repeat-password-container .error {
    font-size: 18px;
    color: #ff3860;
}

}