.html {
    font-family: 'roboto', sans-serif;
}
.header {
    font-size: 20px;
    color: #49A37B;
    text-shadow: 3px 3px 3px;
    padding-left: 175px;
    border-bottom: 1px black solid;
    padding-top: 40px;
    margin: 0;
}

.vectorpng {
    position: absolute;
    left: 3.49%;
    right: 93.21%;
    top: 4.05%;
    bottom: 96.52%;
}

.adduserpng {
    position: absolute;
    width: 30px;
    height: 41px;
    left: 1690px;
    top: 98px;
}

.homepng {
    position: absolute;
    left: 1650px;
    right: 8.34%;
    top: 100px;
    bottom: 16.67%;
}

.loginpng {
    position: absolute;
    left: 1730px;
    right: 8.34%;
    top: 108px;
    bottom: 12.5%;
}

.vectorpng-2 {
    position: absolute;
    left: 1770px;
    right: 6.32%;
    top: 105px;
    bottom: 96.36%;
}

.section-1 {
    border-bottom: 1px black solid;
    max-height: 400px;
}

.welcome-h2 {
    font-size: 20px;
    color: #49A37B;
    padding-left: 100px;
}

.welcome-h3 {
    font-size: 15px;
    color: #49A37B;
    padding-left: 100px;
}

.welcome-p {
    font-size: 15px;
    padding-left: 100px;
    max-width: 400px;
}

.welcome-button {
    font-size: 15px;
    color: #373867;
    background-color: #fff;
    border: 1px #49A37B solid;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    position: absolute;
    margin: 100px;
    left: -0.1cm;
}

.welcome-image {
    position: relative;
    left: 20cm;
    top: -6.5cm;
}


.section-2 {
    border-bottom: 1px black solid;
    max-height: 650px;
}

.functions-h2 {
    font-size: 40px;
    color: #49A37B;
    text-shadow: 2px 2px 2px;
    padding-left: 100px;
}

.functions-h3-1 {
    font-size: 30px;
    color: #49A37B;
    padding-left: 185px;
}

.functions-p-1 {
    font-size: 20px;
    padding-left: 185px;
    max-width: 485px;
}

.functions-h3-2 {
    font-size: 30px;
    color: #49A37B;
    padding-left: 850px;
    position: relative;
    top: -4.8cm;
}

.functions-p-2 {
    font-size: 20px;
    padding-left: 850px;
    max-width: 400px;
    position: relative;
    top: -4.8cm;
}

.functions-h3-3 {
    font-size: 30px;
    color: #49A37B;
    padding-left: 185px;
    position: relative;
    top: -3cm;
}

.functions-p-3 {
    font-size: 20px;
    padding-left: 185px;
    max-width: 400px;
    position: relative;
    top: -3cm;
}

.functions-h3-4 {
    font-size: 30px;
    color: #49A37B;
    padding-left: 850px;
    position: relative;
    top: -9cm;
}

.functions-p-4 {
    font-size: 20px;
    padding-left: 850px;
    max-width: 400px;
    position: relative;
    top: -9cm;
}

.Reservasvg {
    position: absolute;
    width: 86.15px;
    height: 80px;
    top: 18.2cm;
    left: 2cm;
}

.Gestionsvg {
    position: absolute;
    left: 2cm;
    right: 86.96%;
    top: 26cm;
    bottom: 70.72%;
}

.Agendasvg {
    position: absolute;
    left: 38.5%;
    right: 44.73%;
    top: 18.2cm;
    bottom: 77.37%;
}

.Sugerenciassvg {
    position: absolute;
    left: 38.5%;
    right: 44.73%;
    top: 26cm;
    bottom: 70.59%;
}

.section-3 {
    border-bottom: 1px black solid;
    max-height: 650px;
}

.AboutUs {
    font-size: 40px;
    text-shadow: 2px 2px 2px;
    color: #49A37B;
    position: relative;
    left: 2.5cm;
    top: 2.5cm;
}

.Aboutus-p {
    font-size: 20px;
    position: relative;
    left: 10cm;
    bottom: 1cm;
}

.section-4 {
    border-bottom: 1px black solid;
    max-height: 730px;
}

.LeaveQ {
    font-size: 40px;
    text-shadow: 2px 2px 2px;
    color: #49A37B;
    position: relative;
    left: 3cm;
}

.Input {
    border: 1px black solid;
    height: 1cm;
    width: 12cm;
    margin-bottom: 1cm;
    position: relative;
    left: 1.5cm;
}

.Text {
    border: 1px black solid;
    height: 8cm;
    width: 30cm;
    margin-bottom: 1cm;
    position: relative;
    left: 1.5cm;
}

.send-button {
    background-color: #AACE9B;
    color: #373867;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    height: 1cm;
    width: 2cm;
    position: relative;
    left: 1.5cm;
}

.Motive {
    font-size: 40px;
    color: #49A37B;
    position: relative;
    left: 19cm;
    bottom: 19.5cm;
}

.Reason-1 {
    position: relative;
    left: 19.1cm;
    bottom: 19cm;
}

.Reason-2 {
    position: relative;
    left: 5.9cm;
    bottom: 17cm;
}

.Reason-3 {
    position: relative;
    left: -6.4cm;
    bottom: 15cm;
}

.Label-1 {
    font-size: 25px;
    font-weight: 500;
    color: #373867;
    position: relative;
    left: 19.3cm;
    bottom: 19cm;
}

.Label-2 {
    font-size: 25px;
    font-weight: 500;
    color: #373867;
    position: relative;
    left: 6.1cm;
    bottom: 17cm;
}

.Label-3 {
    font-size: 25px;
    font-weight: 500;
    color: #373867;
    position: relative;
    left: -6.2cm;
    bottom: 15cm;
}

.section-5 {
    border-bottom: 1px black solid;
    max-height: 350px;
}

.Membresy-1 {
    font-size: 40px;
    color: #49A37B;
    position: relative;
    top: 1cm;
    left: 1.5cm;
}

.Ul-1 {
    font-size: 20px;
    color: #373867;
    position: relative;
    top: 0.5cm;
    left: 1cm;
}

.Membresy-2 {
    font-size: 40px;
    color: #49A37B;
    position: relative;
    left: 10cm;
    bottom: 4.8cm;
}

.Ul-2 {
    font-size: 20px;
    color: #373867;
    position: relative;
    left: 10cm;
    bottom: 5cm;
}

.Membresy-3 {
    font-size: 40px;
    color: #49A37B;
    position: relative;
    left: 23cm;
    bottom: 10.5cm;
}

.Ul-3 {
    font-size: 20px;
    color: #373867;
    position: relative;
    left: 23cm;
    bottom: 10.5cm;
}

.Membresy-4 {
    font-size: 40px;
    color: #49A37B;
    position: relative;
    left: 36cm;
    bottom: 15.6cm;
}

.Ul-4 {
    font-size: 20px;
    color: #373867;
    position: relative;
    left: 36cm;
    bottom: 15.6cm;
}

.footer {
    max-height: 500px;
    font-size: 32px;
    position: relative;
    top: 7cm;
    left: 17cm;
}

.footerimg {
    height: 80px;
    position: relative;
    bottom: 6cm;
    left: 4cm;
}