.section-login-header {
    display: flex;
    justify-content: space-between;
}

.rocket-img {
    padding-right: 20%;
}

.login-flex-container {
    margin-right: 30%;
}

#login-link {
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.section-sign-in-container {
    height: 1450px;
}

.sign-in-flex-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
}

.register-title {
    font-size: 30px;
}

.container-name-surname {
    display: flex;
    gap: 150px;
}

.input-box {
    font-size: 20px;
    width: 350px;
    height: 45px;
}

.dni-birthday-container{
    display: flex;
    gap: 150px;
}

.input-box-dni {
    font-size: 20px;
    height: 30%;
    width: 350px;
    height: 40%;
}

.input-box-birthday {
    font-size: 20px;
    display: flex;
    width: 180px;
    height: 45px;
}

.phone-direction-container {
    display: flex;
    gap: 150px;
}

.location-pc-container {
    display: flex;
    gap: 150px;
}

.sign-in-button {
    width: 50%;
    height: 60px;
    margin-top: 60px;
    margin-left: 25%;
}

.name-container .error {
    font-size: 20px;
    color: #ff3860;
}

.surname-container .error {
    font-size: 20px;
    color: #ff3860;
}

.dni-container .error {
    font-size: 20px;
    color: #ff3860;
}

.birthday-container .error {
    font-size: 20px;
    color: #ff3860;
}

.phone-number-container .error {
    font-size: 20px;
    color: #ff3860;
}

.direction-container .error {
    font-size: 20px;
    color: #ff3860;
}

.location-container .error {
    font-size: 20px;
    color: #ff3860;
}

.postal-code-container .error {
    font-size: 20px;
    color: #ff3860;
}

.email-container .error {
    font-size: 20px;
    color: #ff3860;
}

.password-container-two .error {
    font-size: 20px;
    color: #ff3860;
}

.repeat-password-container .error {
    font-size: 20px;
    color: #ff3860;
}